Day7/data.txt
Day8/data.txt
Day8/main.exe
Day9/main.exe
Day9/data.txt
Day10/main.exe
Day10/data.txt
Day7/main.exe
Day11/data.txt
Day11/main.exe
Day11/tempCodeRunnerFile.exe
Day15/data.txt
Day15/main.exe
